.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 1100px;
    height: 530px;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width:900px){
   .container{
    flex-direction: column;
    width: 90vw;
    height: fit-content;
   }
}